<!-- START BREADCRUMB -->
<ul class="breadcrumb">
  <li ng-repeat="state in states">
    <a ng-if="!$last" ng-bind="'breadcrumbs.'+state.name | translate:state.params" ui-sref="{{state.name}}"></a>
    <span ng-if="$last" ng-bind="'breadcrumbs.'+state.name | translate:state.params" class="active"></span>
  </li>
</ul>
<!-- END BREADCRUMB -->
