<!-- START X-NAVIGATION VERTICAL -->
<!--<ul class="x-navigation x-navigation-horizontal x-navigation-panel">-->
<ul class="x-navigation x-navigation-horizontal">
  <li if-authenticated="false" class="xn-logo">
    <a href="index.html">ATLANT</a>
    <a href="#" class="x-navigation-control"></a>
  </li>
  <!--<li class="">
    <a ui-sref="home">
      <span fa-icon="'files-o'"><span class="xn-text" translate="common.home">Главная</span></span>
    </a>
  </li>
  <li class="">
    <a ui-sref="faq">
      <span fa-icon="'file-text-o'"><span class="xn-text" translate="common.faq">ФАК</span></span>
    </a>
  </li>-->
  <!--<li class="pull-right"
      navbar-item depend-state="auth.signup"
      if-authenticated="!">
    <a ui-sref="auth.signup">
      <span fa-icon="'pencil'"><span class="xn-text" translate="auth.signup.navbar">Регистрация</span></span>
    </a>
  </li>
  <li class="pull-right"
      navbar-item depend-state="auth.login"
      if-authenticated="!">
    <a ui-sref="auth.login">
      <span fa-icon="'cogs'"><span class="xn-text" translate="auth.login.navbar">Авторизация</span></span>
    </a>
  </li>-->
  <li navbar-item
      depend-state="{{state.name}}"
      ng-class="{'pull-right': state.topNavPosition === '>'}"
      ng-repeat="state in states"
      if-auth-check="state.data.authCheck"
      if-authenticated="false">
    <a ui-sref="{{state.name}}">
      <span ng-if="state.topNavIcon" fa-icon="state.topNavIcon">
        <span class="xn-text" translate="{{state.topNav}}">Авторизация</span>
      </span>
      <span ng-if="!state.topNavIcon" class="xn-text" translate="{{state.topNav}}">State</span>
    </a>
  </li>
  <li if-authenticated class="xn-icon-button pull-right last">
    <a ng-click="navbarCtrl.logout()">
      <span fa-icon="'power-off'"></span>
    </a>
  </li>
  <li class="xn-icon-button pull-right" language-switcher></li>
</ul>
<!-- END X-NAVIGATION VERTICAL -->


