<div class="faq-item" ng-class="{'active': opened}" ng-click="toggle()">
  <div class="faq-title">
    <fa-icon icon="(opened ? 'angle-down' : 'angle-up')"></fa-icon>
    {{model.attributes.name}}
  </div>
  <div class="faq-text">
    <h5 ng-bind="model.attributes.title"></h5>
    <p ng-bind-html="tempBody"></p>
  </div>
</div>
