<div class="row">
  <div class="col-md-8">

    <faq-category models="faqCtrl.models"></faq-category>

  </div>
  <div class="col-md-4">

    <div class="panel panel-primary">
      <div class="panel-body">
        <h3 ng-bind="'faq.header' | translate"></h3>
        <form name="FaqSearch" ng-submit="search()">
          <div class="input-group">
            <input required type="text" minlength="3" name="keyword" class="form-control" ng-model="keyword" placeholder="{{'faq.search.placeholder' | translate}}"/>
            <div class="input-group-btn">
              <button ng-disabled="FaqSearch.$invalid" type="submit" class="btn btn-primary" ng-bind="'faq.search.placeholder' | translate">Search</button>
            </div>
          </div>
        </form>
        <div class="push-up-10" ng-if="FaqSearch.keyword.$dirty && FaqSearch.$invalid">
          <strong ng-if="FaqSearch.keyword.$error.minlength" ng-bind="'models.FaqSearch.minlength' | translate:{count: 3}"></strong>
        </div>
        <div class="push-up-10" ng-if="!FaqSearch.keyword.$dirty || !FaqSearch.$invalid">
          <strong ng-bind="'faq.search.result' | translate"></strong> <span ng-class="{'text-success': (count > 0)}" ng-bind="'faq.search.resultCount' | translate:{count: count}"></span>
        </div>
        <div class="push-up-10">
          <button class="btn btn-primary" ng-click="removeHighlights()" ng-bind="'faq.search.dehighlight' | translate">Remove Highlights</button>
          <div class="pull-right">
            <button class="btn btn-default" ng-click="openAll()"><fa-icon icon="'angle-down'"></fa-icon> {{'faq.search.openAll' | translate}}</button>
            <button class="btn btn-default" ng-click="closeAll()"><fa-icon icon="'angle-up'"></fa-icon> {{'faq.search.closeAll' | translate}}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-body">
        <h3>Contact</h3>
        <p>Feel free to contact us for any issues you might have with our products.</p>
        <div class="form-group">
          <label>E-mail</label>
          <input type="email" class="form-control" placeholder="youremail@domain.com">
        </div>
        <div class="form-group">
          <label>Subject</label>
          <input type="email" class="form-control" placeholder="Message subject">
        </div>
        <div class="form-group">
          <label>Message</label>
          <textarea class="form-control" placeholder="Your message" rows="3"></textarea>
        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-default"><span class="fa fa-paperclip"></span> Add attachment</button>
        <button class="btn btn-success pull-right"><span class="fa fa-envelope-o"></span> Send</button>
      </div>
    </div>

  </div>
</div>
