<div ng-repeat="model in models" class="panel panel-default">
  <div class="panel-body">
    <h3 class="push-down-0" ng-bind="model.attributes.name"></h3>
  </div>
  <div class="panel-body faq">
    <faq-item ng-repeat="faq in model.attributes.faqs" model="faq"></faq-item>
  </div>
</div>

