<div ng-if="$state.showTitle || $state.showTitle === undefined" class="page-title">
  <h2><fa-icon ng-if="$state.titleIcon" icon="$state.titleIcon"></fa-icon> <span ng-bind="'breadcrumbs.' + $state.name | translate:$state.params"></span></h2>
</div>
