<div ng-if="appReady">

  <div ng-class="{'page-navigation-top page-navigation-top-custom': !isAuthenticated()}" class="page-container">

    <div if-authenticated class="page-sidebar">
      <navbar nav-position="left" template-url="app/components/navbar/navbar-sidebar.html"></navbar>
    </div>

    <div class="page-content">

      <navbar nav-position="top"></navbar>

      <gc-breadcrumbs></gc-breadcrumbs>

      <page-title></page-title>

      <!-- PAGE CONTENT WRAPPER -->
      <div ui-view class="page-content-wrap"></div>
      <!-- PAGE CONTENT WRAPPER -->

      <!-- START PAGE CONTENT HEADER -->
      <!--<div class="page-content-header">
        <a href="index.html" class="logo"></a>
        <div class="pull-right">
          <div class="socials">
            <a href="#"><span class="fa fa-facebook-square"></span></a>
            <a href="#"><span class="fa fa-twitter-square"></span></a>
            <a href="#"><span class="fa fa-pinterest-square"></span></a>
            <a href="#"><span class="fa fa-linkedin-square"></span></a>
            <a href="#"><span class="fa fa-dribbble"></span></a>
          </div>
          <div class="contacts">
            <a href="#"><span class="fa fa-envelope"></span> johndoe@domain.com</a>
            <a href="#"><span class="fa fa-phone"></span> +9(876) 543-21-09</a>
            <a href="#"><span class="fa fa-skype"></span> JohnDoe</a>
          </div>
        </div>
      </div>-->
      <!-- END PAGE CONTENT HEADER -->
    </div>
    <!-- END PAGE CONTENT -->
  </div>
</div>
