.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.flag.flag-en-US {
  background-image: url(../assets/img/flags/us.png);
}
.flag.flag-ru-RU {
  background-image: url(../assets/img/flags/ru.png);
}
.flag.flag-ua-UA {
  background-image: url(../assets/img/flags/ua.png);
}

.animated {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
}

