<div class="login-title"><strong>{{'common.greetings' | translate}}</strong>{{'auth.login.greetings' | translate}}</div>
<form name="AuthForm"novalidate class="form-horizontal"
      ng-class="{'processing': AuthForm.$submitting}"
      gc-spinner="AuthForm.$submitting"
      gc-submit="loginCtl.login()">

  <gc-form-input icon="user" wrapper-col-class="col-md-12" translate-field-label="auth.username">
    <input class="form-control" id="get-username" name="username"  required type="text" placeholder="{{'auth.username' | translate}}"
           ng-model="loginCtl.user.username"/>
  </gc-form-input>

  <gc-form-input icon="lock" wrapper-col-class="col-md-12" translate-field-label="auth.password">
    <input id="get-password" name="password" required type="password" class="form-control" placeholder="{{'auth.password' | translate}}"
           ng-model="loginCtl.user.password"
           gc-field-depend="username"/>
  </gc-form-input>

  <div class="form-group">
    <div class="col-md-6">
      <a ui-sref="auth.reset_password" translate="auth.forgot.link">Forgot your password?</a>
    </div>
    <div class="col-md-6 text-right">
      <a ui-sref="auth.signup" translate="auth.signup.link">Create an account</a>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
      <button ng-disabled="AuthForm.$invalid || AuthForm.$submitting" class="btn btn-primary btn-lg btn-block" translate="auth.login.submit"></button>
    </div>
  </div>
</form>
