<div class="login-container login-v2">

  <div class="login-box animated fadeInDown">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="login-body">
          <div ui-view></div>
        </div>
      </div>
    </div>


    <div class="login-footer">
      <!--<div class="pull-left">
        &copy; 2016 Chatlanin
      </div>-->
      <!--<div class="pull-right">
        <a href="#">About</a> |
        <a href="#">Privacy</a> |
        <a href="#">Contact Us</a>
      </div>-->
    </div>
  </div>

</div>
