<div class="login-title"><strong>{{'common.greetings' | translate}}</strong>{{'auth.forgot.greetings' | translate}}</div>
<form name="ResetPasswordForm" novalidate class="form-horizontal"
      ng-class="{'processing': processing}"
      gc-spinner
      gc-submit="resetPassCtl.submit()">

  <gc-form-input icon="user" wrapper-col-class="col-md-12" translate-field-label="auth.username">
    <input class="form-control" id="get-username" name="username"  required type="text" placeholder="{{'auth.username' | translate}}"
           ng-model="resetPassCtl.user.username"/>
  </gc-form-input>

  <div class="form-group">
    <div class="col-md-6">
      <a ui-sref="auth.signup" translate="auth.signup.link">Create an account</a>
    </div>
    <div class="col-md-6 text-right">
      <a ui-sref="auth.login" translate="auth.login.link">Login with Credentials</a>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
      <button ng-disabled="ResetPasswordForm.$invalid || ResetPasswordForm.$submitting" class="btn btn-primary btn-lg btn-block" translate="auth.forgot.submit">Reset Password</button>
    </div>
  </div>
</form>
