<div class="login-title"><strong>{{'common.greetings' | translate}}</strong>{{'auth.signup.greetings' | translate}}</div>
<form name="SignupForm" novalidate class="form-horizontal"
      gc-spinner="SignupForm.$submitting"
      gc-submit="signupCtl.submit()">

  <gc-form-input icon="user" wrapper-col-class="col-md-12" translate-field-label="auth.email">
    <input class="form-control" id="get-email" name="email"  required type="text" placeholder="{{'auth.email' | translate}}"
           ng-model="signupCtl.model.attributes.email" />
  </gc-form-input>

  <gc-form-input icon="lock" wrapper-col-class="col-md-12" translate-field-label="auth.password">
    <input id="get-password" name="password" required type="password" class="form-control" placeholder="{{'auth.password' | translate}}"
           ng-model="signupCtl.model.attributes.password" />
  </gc-form-input>

  <gc-form-input icon="lock" wrapper-col-class="col-md-12" translate-field-label="auth.password_repeat">
    <input id="get-password_repeat" repeat-password="password" name="password_repeat" required type="password" class="form-control" placeholder="{{'auth.password_repeat' | translate}}"
           ng-model="signupCtl.model.attributes.password_repeat" />
  </gc-form-input>

  <div class="form-group">
    <div class="col-md-6">
      <a ui-sref="auth.reset_password" translate="auth.forgot.link">Forgot your password?</a>
    </div>
    <div class="col-md-6 text-right">
      <a ui-sref="auth.login" translate="auth.login.link">Login with Credentials</a>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <button ng-disabled="SignupForm.$invalid || SignupForm.$submitting" class="btn btn-primary btn-lg btn-block" translate="auth.signup.submit">Register</button>
    </div>
  </div>
</form>
