<div class="form-group" ng-class="{'has-error': ($form[fieldName].$invalid && ($form[fieldName].$dirty || $form.$submitted))}">
  <div ng-if="icon" ng-class="inputWrapperColClass">
    <div class="input-group">
      <div class="input-group-addon">
        <fa-icon icon="icon"></fa-icon>
      </div>
      <ng-transclude></ng-transclude>
    </div>
    <ng-include src="errorLabelTemplateUrl"></ng-include>
  </div>

  <div ng-if="!icon" ng-class="inputWrapperColClass">
    <ng-include src="errorLabelTemplateUrl"></ng-include>
    <ng-transclude></ng-transclude>
  </div>

</div>
