<label ng-if="($form[fieldName].$invalid && ($form[fieldName].$dirty || $form.$submitted))" ng-messages="$form[fieldName].$error" for="{{fieldId}}" class="error">
  <!--<p ng-repeat="(key, message) in validators" ng-message="key">{{'models.common.validation.required' | translate:'{fieldname: (\'auth.username\' | translate)}'}}</p>-->
  <p ng-repeat="(key, config) in validators" ng-message="{{key}}">{{config.translateId | translate:config.options}}</p>
  <p ng-message="serverValidator">{{$form[fieldName].$serverErrorMessage}}</p>
</label>
