<a href="#">
  <span class="flag flag-{{langSwitcherCtrl.currentLanguage}}"></span>
</a>
<ul class="xn-drop-left xn-drop-white animated zoomIn">
  <li ng-repeat="language in langSwitcherCtrl.languages">
    <a ng-click="langSwitcherCtrl.changeLanguage(language.key)"><span class="flag flag-{{language.key}}"></span>{{::language.name}}</a>
  </li>
</ul>
